button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  gap: 8px;
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
  }

  & span,
  p {
    font-family: var(--primary-font);
    font-weight: 600;
    text-align: center;
  }

  &.primary {
    background: #0a010f;
    & span,
    p {
      color: #ffffff;
    }

    &:hover {
      background: #180f1c;
    }
  }

  &.secondary {
    background: #fff;
    border-color: #0a010f;
    border-style: solid;

    & span,
    p {
      color: #0a010f;
    }

    &:hover {
      border-color: #2f2733;
      & span,
      p {
        color: #2f2733;
      }
    }
  }

  &.tertiary {
    background: #fff;
    border: none;

    & span,
    p {
      color: #0a010f;
    }

    &:hover {
      & span,
      p {
        color: #2f2733;
      }
    }
  }

  &.sm {
    height: 40px;
    padding: 10px 16px;
    border-radius: 16px;
    border-width: 1px;

    & span,
    p {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &.rg {
    height: 48px;
    padding: 10px 24px;
    border-radius: 20px;
    border-width: 1.5px;

    & span,
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
  &.lg {
    height: 60px;
    padding: 10px 32px;
    border-radius: 24px;
    border-width: 1.5px;

    & span,
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }

  & .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
