.smv-calendar {
  overflow: hidden;
  will-change: transform;
  border-radius: 14px;
  padding: 1rem;
  background: var(--color-white);
  position: relative;

  button {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background: transparent;
    border-radius: 20%;
    transition: var(--transition);
  }

  .calendar-select {
    padding: 6px;
    margin-bottom: 0;
    border: none;
    margin: auto;

    & span[data-ripple] {
      z-index: 2;
    }

    &[data-show='false'] {
      background: transparent;
      padding: 6px;
      height: 32px;

      .titleContainer {
        justify-content: center;

        p .optionIcon {
          display: none;
        }
      }

      label {
        display: none;
      }
    }

    &[data-show='true'] {
      z-index: 1;
      padding: 1rem;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      border-radius: 10px;
    }
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    .change-month-btn {
      border-radius: 50%;
      &.right {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    .head-center {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  .sub-head {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4px;
    justify-content: space-between;
    margin-top: 1rem;

    div.buttons-container {
      button.today-btn {
        border: 1px solid var(--color-black-primary);
        cursor: pointer;
        border-radius: 14px;
        padding: 0.275rem 1rem;

        &:hover {
          background-color: var(--color-black-secondary);
          span {
            color: var(--color-white);
          }
        }
      }

      button.today-btn.selected {
        background-color: var(--color-black-primary);

        span {
          color: var(--color-white);
        }
      }
    }

    div.selected-values-container {
      span {
        display: flex;
        align-items: center;
        text-align: center;

        span.icon {
          margin-inline: 4px;
          cursor: pointer;
        }

        button.clear-btn {
          margin-inline-start: 0.275rem;
          border: 1px solid var(--color-black-primary);
          cursor: pointer;
          border-radius: 14px;
          padding: 0.275rem 1rem;

          &:hover {
            background-color: var(--color-black-secondary);
            span {
              color: var(--color-white);
            }
          }
        }
      }
    }
  }

  .calendars {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .body {
      margin-top: 1rem;
      flex-grow: 1;

      .container {
        .head {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          align-items: center;
          justify-items: center;
        }

        .body {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          align-items: center;
          justify-items: center;

          .day-container {
            width: 100%;
            button {
              cursor: pointer;
              border-radius: 50%;
              width: 100%;
              padding: 0;
              aspect-ratio: 1;
            }

            &.current-day {
              button {
                border: 1px solid var(--color-black-primary);
              }
            }

            &.selected-day:not(.disabled) {
              button {
                background-color: var(--color-black-primary);
                span {
                  color: var(--color-white);
                }
              }
            }

            &.in-range:not(.disabled) {
              background-color: rgba(0, 0, 0, 0.15);

              &.start-day {
                border-radius: 50% 0 0 50%;

                button {
                  background-color: var(--color-black-primary);
                  span {
                    color: var(--color-white);
                  }
                }
              }

              &.end-day {
                border-radius: 0 50% 50% 0;

                button {
                  background-color: var(--color-black-primary);

                  span {
                    color: var(--color-white);
                  }
                }
              }
            }

            &.disabled {
              button {
                cursor: default;
                span {
                  opacity: 0.4;
                  &[data-ripple] {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
