@font-face {
  font-family: Manrope-ExtraLight;
  src: url('./fonts/Manrope-ExtraLight.ttf');
}
@font-face {
  font-family: Manrope-Light;
  src: url('./fonts/Manrope-Light.ttf');
}

@font-face {
  font-family: Manrope-Medium;
  src: url('./fonts/Manrope-Medium.ttf');
}

@font-face {
  font-family: Manrope-Regular;
  src: url('./fonts/Manrope-Regular.ttf');
}

@font-face {
  font-family: Manrope-Bold;
  src: url('./fonts/Manrope-Bold.ttf');
}

@font-face {
  font-family: Manrope-SemiBold;
  src: url('./fonts/Manrope-SemiBold.ttf');
}

@font-face {
  font-family: Manrope-ExtraBold;
  src: url('./fonts/Manrope-ExtraBold.ttf');
}

@font-face {
  font-family: Sequel-76;
  src: url('./fonts/Sequel100Black-76.ttf');
}

:root {
  --primary-font-light: 'Manrope-ExtraLight';
  --primary-font-extra-light: 'Manrope-ExtraLight';
  --primary-font-medium: 'Manrope-Regular';
  --primary-font-regular: 'Manrope-Regular';
  --primary-font-bold: 'Manrope-Regular';
  --primary-font-semi-bold: 'Manrope-SemiBold';
  --primary-font-extra-bold: 'Manrope-ExtraBold';
  --secondary-font: 'Sequel-76';

  --color-black: #000;
  --color-white: #fff;
  --color-black-primary: #1a181b;
  --color-black-secondary: #4e4851;
  --color-black-tertiary: #9b939f;
  --color-grey-primary: #f5f4f5;
  --color-red: #ea4848;

  --border-width: 2px;
  --border-radius: 1.25em;

  --ripple-effect-color: #7f7f7f7f;

  --box-shadow-default: 0px 0px 20px rgba(0, 0, 0, 0.03), 20px 20px 40px rgba(0, 0, 0, 0.03);
  --box-shadow-button: 0 0 0 2px #e6e4e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
